.btn-edit {
    background-color: #7F9054 !important;
    color: #fff !important;
}

.btn-edit:hover {
    background-color: #7F9054 ;
    color: #fff;
}


.btn-outline-edit {
    background-color: rgb(48, 48, 48); 
    color: #7F9054 !important;
    border: 1px solid #7F9054 !important;
}

.btn-outline-edit:hover {
    background-color: #7F9054 !important;
    color: #fff !important;
}

.btn-cancel {
    background-color: #793347 ;
    color: #fff;
    border: none;
}

.btn-cancel:active {
    background-color: #793347 ;
    color: #fff;
    border: none;
}

.btn-cancel:hover {
    background-color: #AB7F8C ;
}

.btn-save {
    background-color: #7F9054 ;
    color: #fff;
}

.btn-save:hover {
    background-color: #AFB994 ;
    color: #fff;
}

.btn-save:active {
    background-color: #7F9054 ;
    color: #fff;
}