.back {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(100px);  
    opacity: 0.8;
    color: #fff;
}

.glass {
    background: rgb(48, 48, 48);
    /* backdrop-filter: blur(10px); */
}

.elform {
    opacity: 1;
}

.titleUser {
    color: #7F9054;
}