.navMenu {
    background-color: #101010;
    color: #7F9054;
}

#basic-nav-dropdown {
    color: #7F9054;
}

.itemDropdown {
    color: #40490B;
    text-decoration: none;
}


.dropDown:hover {
    background-color: #7F9054 !important;
    .itemDropdown {
        color: #fff;
    }
}

.itemMenu {
    color: #7F9054 !important;
    text-decoration: none;
}

.navbar-toggler.collapsed {
    border-color: #7F9054 !important;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%237F9054' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;

}

