.navMenu {
    background-color: #101010;
    color: #7F9054;
}

#basic-nav-dropdown {
    color: #7F9054;
}

.itemDropdown {
    color: #7F9054;
    text-decoration: none;
}


.dropDown:hover {
    background-color: #7F9054 !important;
    .itemDropdown {
        color: #fff;
    }
}

.itemMenu {
    color: #7F9054 !important
}