.mainPlayer {
    background-color: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    box-shadow: -1px -17px 31px 9px rgba(0,0,0,1);
-webkit-box-shadow: -1px -17px 31px 9px rgba(0,0,0,1);
-moz-box-shadow: -1px -17px 31px 9px rgba(0,0,0,1);
z-index: 5;
}

.mainControls {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.mainPlay {
    font-size: 1.33rem;
    display: flex;
    align-items: center;
}

.artistPlayer {
    color: #96989A ;
}

#waveform {
    min-width: none;
  }

input {
    accent-color: #7F9054;
}