.mainPlayer {
    background-color: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    box-shadow: -1px -17px 31px 9px rgba(0,0,0,1);
-webkit-box-shadow: -1px -17px 31px 9px rgba(0,0,0,1);
-moz-box-shadow: -1px -17px 31px 9px rgba(0,0,0,1);
}

.mainControls {
    font-size: 25px;
    display: flex;
    align-items: center;
}

.mainPlay {
    font-size: 35px;
    display: flex;
    align-items: center;
}

.artistPlayer {
    color: #96989A ;
}

.wavesurfer-region {
    max-width: 100%;
}