.main {
    height: 100vh;
    background-color: #171717;
    color: #fff;
}

.lamparas {
    height: 80px;
}

.cabecera {
    max-height: 20%;
    background: url("https://res.cloudinary.com/dtkrptodh/image/upload/v1707183988/media/CABECERA-V_y7vlwv.png") repeat;
    background-size: contain;
    height: 80px;
}